.hero-unit
	.row
		.span6
			h1 SysBio-Online
		.span2
			img.img-rounded(height='200',width='200',src='http://www.ces.clemson.edu/earnest/fall_wint_06-07/research/images/Wen-human-stem-cell-derived.JPG')
	p
		| Web Apps for Systems Biology
	p
		a.btn.btn-primary.btn-large(href='https://github.com/stanley-gu/snap') See the Source »