.well.sidebar-nav
	ul.nav.nav-list.affix-top
		li.nav-header Model
		.btn-grp(data-toggle="buttons-checkbox")
			li
				a.btn.btn-primary.btn-block#loadSbml Load SBML
			li
				a.btn.btn-primary.btn-block#importTestCase Import Test Case
		li.nav-header Simulation
		.btn-grp(data-toggle="buttons-checkbox")
			li
				a.btn.btn-primary.btn-block#run Run
			li
				a.btn.btn-primary.btn-block#view View Options
		li.nav-header Export
		.btn-grp(data-toggle="buttons-checkbox")
			li
				a.btn.btn-primary.btn-block#exportSbml As SBML
			li
				a.btn.btn-primary.btn-block#exportMatlab As MATLAB