.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header Model
		li.active
			a#loadSbml(href='#') Load SBML
		li
			a(href='#') Import Test Case
		li.nav-header Simulation
		li
			a(href='#') Run
		li
			a(href='#') View Options
		li.nav-header Export
		li
			a(href='#') As SBML
		li
			a(href='#') As MATLAB