.well.sidebar-nav
	ul.nav.nav-list
		li.nav-header Model
		.btn-grp(data-toggle="buttons-checkbox")
			li
				a.btn.btn-primary.btn-block#loadSbml(href='#') Load SBML
			li
				a.btn.btn-primary.btn-block#importTestCase(href='#') Import Test Case
		li.nav-header Simulation
		.btn-grp(data-toggle="buttons-radio")
			li
				a.btn.btn-primary.btn-block#run(href='#') Run
			li
				a.btn.btn-primary.btn-block#view(href='#') View Options
		li.nav-header Export
		.btn-grp(data-toggle="buttons-radio")
			li
				a.btn.btn-primary.btn-block#exportSbml(href='#') As SBML
			li
				a.btn.btn-primary.btn-block#exportMatlab(href='#') As MATLAB