.container-fluid
	.row-fluid
		.span3
			include sidebar
		.span8
			.row-fluid
				.span7#loadSbml
				.span1#loadTestCase
					//form
					//	input.search-query(type='text', placeholder='Enter Test Case #')
			.row-fluid
				.span8#chart
					//script(src='components/rickshaw/rickshaw.js')
					//link(href='components/rickshaw/rickshaw.css', rel='stylesheet')
					//script(src='javascripts/rickshawExample.js')
					//include css/extensions.css 
					//include graph.html
					
