.row-fluid#snap
	script(src='javascripts/snap.js')
	script(src='javascripts/snap.js')
	script(src='javascripts/snap.js')
	script(src='javascripts/snap.js')
	script(src='javascripts/snap.js')
	
	script(src='javascripts/snap.js')
	.span3
		include sidebar