.container-fluid
	.row-fluid
		.span3
			include sidebar
		.span8
			.row-fluid
				#loadSbml
				#importModel
					//form
					//	input.search-query(type='text', placeholder='Enter Test Case #')
			.row-fluid
                #sim
				#chart
					//script(src='components/rickshaw/rickshaw.js')
					link(href='components/rickshaw/rickshaw.css', rel='stylesheet')
					//script(src='javascripts/rickshawExample.js')
					//include css/extensions.css 
					//include graph.html
					
