.container-fluid
	.row-fluid
		.span3
			include sidebar
		.span8
			.row-fluid
				#loadSbml
				#importModel
			.row-fluid
				#modelView
			.row-fluid
				#sim
					form
						fieldset
							legend Simulation Settings
							label.lead Simulator
								label.radio
									input(type='radio', name='simulatorRadio', value='rr', checked)
									p RoadRunner
								label.radio
									input(type='radio', name='simulatorRadio', value='libsbmlsim')
									p LibSBMLSim
							label.lead Simulation Time
								input(type='text', id='simTime', placeholder='Enter Total Time')
							label.lead Simulation Steps
								input(type='text', id='simSteps', placeholder='Enter Total Steps')
							button.btn(type='button', id='submitSim') Simulate
			#chart_container
				#chart
				#legend

