.container-fluid
	script(src='javascripts/snap.js')
	.row-fluid
		script(src='components/ace-builds/src/ace.js')
		script(src='components/ace-builds/src/mode-xml.js')
		script(src='components/ace-builds/src/theme-solarized_light.js')
		.span3
			include sidebar
		.span8
			.row-fluid
				.span7#loadSbml
				.span1#loadTestCase
					form
						input.search-query(type='text', placeholder='Enter Test Case #')
			.row-fluid
				.span8#chart
					script(src='components/rickshaw/rickshaw.js')
					link(href='components/rickshaw/rickshaw.css', rel='stylesheet')
					script(src='javascripts/rickshawExample.js')
					include css/extensions.css 
					include graph.html
					
